.footer{
    background:white;
    padding :20px 180px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #8a8d91;
}

.set-languages{
    display: flex;
    line-height:2.8em;
}

.languages{
    text-decoration: none;
    margin-right:10px;
    color:#737373;
}

.footer-links{
    margin-top: 8px;
    display:flex;
    flex-wrap: wrap;
}

.links{
    text-decoration: none;
    color:#737373;
    line-height:1.5em;
    margin-right:20px;
}   

.copyright_footer{
    margin-top:18px;
}


.copyright_text{
    font-size:11px;
    color:#737373;
}